.palette-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 10px;
    background-color: rgba(47, 53, 66, 0.7);
    padding: 6px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    height: 30px
}


.palette-header-back-btn {
    cursor: pointer;
    text-decoration: none;
    color: white;
}